@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap'); 
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');

$color-primary: #f7f8fa;
$color-secondary: #000000;
$color-tertiary: #8d8888d2;
$font-family: 'Hammersmith One', sans-serif;